# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<database>"

SECRET_KEY="<your-secret-key>"

# MinIO 配置
MINIO_ACCESS_KEY="<your-minio-access-key>"
MINIO_SECRET_KEY="<your-minio-secret-key>"
MINIO_ENDPOINT="<your-minio-host>"
MINIO_PORT=9000
MINIO_USE_SSL=0
MINIO_BUCKET="avatar"
